.kaufman__triangle {
 width: 877px;
  height:877px;
  background-image: url('../../../images/234-transformed.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}
